<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CalendisUrl" value="https://www.calendis.ro/" />
    <add key="Email" value=""/>
    <add key="Password" value=""/>
    <add key="MagicLink" value="https://www.calendis.ro/cluj-napoca/baza-sportiva-gheorgheni/fotbal/s"/>
    <add key="GoodHours" value="19:00 20:00 21:00"/>
    <add key="GoodDays" value="Lu Ma Mi Jo"/>
  </appSettings>
</configuration>